<!DOCTYPE html>
<html lang="et">
<head>

  {% include 'parts/header.twig' %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

  <style>

    #phototag {
      position: relative;
    }
    #phototag .photomap {
      position:absolute;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
    }
    #phototag .photomap div {
      position:absolute;
      cursor:pointer;
      border:1px solid transparent;
    }
    #phototag .photomap:hover div {
      border:1px dashed #fff;
    }
    #phototag .photomap div i {
      position: absolute;
      bottom: -40px;
      width: 100%;
      text-align: center;
      display: none;
      color: white;
      font-size: 1.3rem;
    }
    #phototag .photomap div.active {
      border:2px dashed #fff;
    }
    #phototag .photomap div.active i {
      display: block
    }
    #phototag .tagCanvas {
      position:absolute;
      top:0px;
      left:0px;
      width: 100%;
      height: 100%
    }
    #tags {
      padding-left: 0;
      padding-right: 0
    }
    #tags .tag {
      color: #212529
    }
    #tags .tag.active {
      font-weight: bold;
    }
    #map {
      height: 280px;
    }

  </style>

</head>

<body>
  <!--/ Nav Start /-->
  {% include 'parts/menu.twig' %}
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  {% include 'parts/intro.twig' with { 'breadcrumbs': [{ url: base_url, title: 'Avaleht' }, { url: pages['kokkutulekud'].url, title: pages['kokkutulekud'].meta.title }] } %}
  <!--/ Intro Skew End /-->

  <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      {% if meta.image %}
      <div class="mb-4">
        <div id="phototag">
          <img src="{{ meta.image }}" class="img-fluid" alt="">
          <div class="photomap"></div>
        </div>
        <div class="toolbar">
          <button class="btn btn-link"
            id="activate"
            role="button">
            <i class="icon ion-ios-pricetags"></i> Märgi sugulane
          </button> |
          <span id="tags"><em class="btn text-muted">Siin pildil saad ära märkida inimesed, kes osalesid kokkutulekul.</em></span>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-8">
          <div class="post-box">
            <h1 class="article-title mb-4">{{ meta.title }}</h1>
            <div class="article-content lead">
              <table class="table table-bordered mb-5">
                <tr>
                  <th scope="row">Jrk.</th>
                  <td>{{ meta.number }}</td>
                </tr>
                <tr>
                  <th scope="row">Korraldas</th>
                  <td>{{ meta.organizer }}</td>
                </tr>
                <tr>
                  <th scope="row">Aeg</th>
                  <td>{{ meta.event_date }}</td>
                </tr>
                <tr>
                  <th scope="row">Koht</th>
                  <td>{{ meta.place }}</td>
                </tr>
                <tr>
                  <th scope="row">Osalejaid</th>
                  <td>{{ meta.people_count }}</td>
                </tr>
              </table>

              {{ content }}

            </div>
          </div>
        </div>
        <div class="col-md-4">

          {% if meta.coordinates %}
          <div id="map" class="mb-3"></div>
          {% endif %}

          {% set videos = [] %}
          {% set albums = [] %}
          {% for page in pages if meta.date|date('Y') in page.meta.tags %}
            {% if page.meta.category == 'video' %}
              {% set videos = videos|merge([page]) %}
            {% elseif page.meta.category == 'pildialbum' %}
              {% set albums = albums|merge([page]) %}
            {% endif %}
          {% endfor %}

          {% for page in albums %}
          {% include 'parts/album.twig' with { grid: 'blah' } %}
          {% endfor %}

          {% for page in videos %}
          {% include 'parts/document.twig' with { doc: page, grid: 'blah', icon: 'ion-md-videocam' } %}
          {% endfor %}
          <div class="widget-sidebar">
            <h5 class="sidebar-title">Tulemas</h5>
            <div class="sidebar-content">
              {{ "kokkutulekud"|content }}
            </div>
          </div>
          {% include 'parts/tags-widget.twig' %}
        </div>
      </div>
      <!-- prev-next start -->
      {% set prev_event = {} %}
      {% set next_event = {} %}
      {% set lastwascurrent = false %}
      {% set lastpage = {} %}
      {% for page in pages if page.meta.category == "kokkutulek" %}
        {% if lastwascurrent %}
          {% set next_event = page %}
          {% set lastwascurrent = false %}
        {% endif %}
        {% if page.id == current_page.id %}
          {% set lastwascurrent = true %}
          {% set prev_event = lastpage %}
        {% endif %}
        {% set lastpage = page %}
      {% endfor %}
      <div class="row">
        <div class="col-md-4 mb-3">
          {% if next_event %}
          <div class="work-box">
            <a href="{{ next_event.url }}">
              <div class="work-img">
                <img src="{{ next_event.meta.thumbnail }}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <h2 class="w-title">{{ next_event.meta.number }}. {{ next_event.meta.title }}</h2>
              </div>
              <span class="index">{{ next_event.meta.date|date('Y') }}</span>
            </a>
          </div>
          {% endif %}
        </div>
        <div class="col-md-4 mb-3">
          {% if prev_event and prev_event.meta.category == 'kokkutulek' %}
          <div class="work-box">
            <a href="{{ prev_event.url }}">
              <div class="work-img">
                <img src="{{ prev_event.meta.thumbnail }}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <h2 class="w-title">{{ prev_event.meta.number }}. {{ prev_event.meta.title }}</h2>
              </div>
              <span class="index">{{ prev_event.meta.date|date('Y') }}</span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
      <!-- prev-next end -->
    </div>
  </section>
  <!--/ Section Blog-Single End /-->

  {% set tools = [] %}

  {% if user_has_right('editor/admin') %}
  {% set tools = tools|merge([
    { title: 'Muuda', type: 'edit', icon: 'icon ion-md-create', id: current_page.id }
  ]) %}
  {% endif %}

  {% include 'parts/footer.twig' with { tools: tools } %}

  {% include 'parts/scripts.twig' %}

  {% include 'parts/table-modal.twig' %}

  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
  <script src="{{ theme_url }}/lib/Proj4Leaflet-1.0.2/lib/proj4-compressed.js"></script>
  <script src="{{ theme_url }}/lib/Proj4Leaflet-1.0.2/src/proj4leaflet.js"></script>

  <script src="{{ theme_url }}/{{ jspath }}/imagetagger.js"></script>

  <script type="text/javascript">
    const config = {
      url: '{{ config.api.url }}/phototags',
      hash: '{{ config.api.grant|base64_encode }}',
      params: 'filter=deleted,eq,0&filter=category,eq,kokkutulek&filter=item,eq,{{ meta.date|date('Y') }}',
      primary: 'id',
      delete: 'deleted',
      item: {{ meta.date|date('Y') }},
      user: '{{ user }}',
      category: '{{ meta.category }}',
      searchUrl: `{{ config.api.url }}/{{ pages['kontaktid'].meta.api.source }}`,
      searchParams: `{{ pages['kontaktid'].meta.api.params }}`,
      search: {
        person: []
      },
      coords: '{{ meta.coordinates }}'
    }
  </script>

  {% if meta.image %}
  <script src="{{ theme_url }}/{{ jspath }}/event-single-image.js"></script>
  {% endif %}

  <script src="{{ theme_url }}/{{ jspath }}/event-single.js"></script>

</body>
</html>
