<!DOCTYPE html>
<html lang="en">
<head>

  {% include 'parts/header.twig' %}

  <style>

    #phototag, #phototag .image {
      position: relative;
    }
    #phototag .tags {
      font-size: 2em
    }
    #phototag .photomap {
      position:absolute;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
    }
    #phototag .photomap div {
      position:absolute;
      cursor:pointer;
      border:1px dashed #fff;
    }

  </style>

</head>

<body>
  <!--/ Nav Start /-->
  {% include 'parts/menu.twig' %}
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div class="intro intro-single route bg-image" style="background-image: url({{ meta.image }})">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4">{{ meta.date|date('Y') }}</h2>
          <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
              <a href="/">Avaleht</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/kokkutulekud">Kokkutulekud</a>
            </li>
            <li class="breadcrumb-item active">{{ meta.title }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      {% if meta.image %}
      <div id="phototag" class="mb-4">
        <div class="image">
          <img src="{{ meta.image }}" class="img-fluid" alt="">
          <div class="photomap"></div>
        </div>
        <div class="tags my-3"></div>
        <div class="toolbar">
          <button class="btn btn-primary"
            id="activate"
            role="button">
            <i class="icon ion-ios-pricetags"></i> Märgi sugulane
          </button>
          <span class="info text-muted ml-4">Siin saad pildil ära märkida inimesed, keda tead. Alustamiseks vajuta nuppu.</span>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-8">
          <div class="post-box">
            <h1 class="article-title mb-4">{{ meta.title }}</h1>
            <div class="article-content lead">
              <table class="table table-bordered mb-5">
                <tr>
                  <th scope="row">Jrk.</th>
                  <td>{{ meta.number }}</td>
                </tr>
                <tr>
                  <th scope="row">Korraldas</th>
                  <td>{{ meta.organizer }}</td>
                </tr>
                <tr>
                  <th scope="row">Aeg</th>
                  <td>{{ meta.event_date }}</td>
                </tr>
                <tr>
                  <th scope="row">Koht</th>
                  <td>{{ meta.place }}</td>
                </tr>
                <tr>
                  <th scope="row">Osalejaid</th>
                  <td>{{ meta.people_count }}</td>
                </tr>
              </table>

              {{ content }}

            </div>
          </div>

          {% set prev_event = {} %}
          {% set next_event = {} %}
          {% set lastwascurrent = false %}
          {% set lastpage = {} %}
          {% for page in pages if page.meta.category == "kokkutulek" %}
            {% if lastwascurrent %}
              {% set next_event = page %}
              {% set lastwascurrent = false %}
            {% endif %}
            {% if page.id == current_page.id %}
              {% set lastwascurrent = true %}
              {% set prev_event = lastpage %}
            {% endif %}
            {% set lastpage = page %}
          {% endfor %}

          <div class="row">
            <div class="col-md-6 mb-3">
              {% if next_event %}
              <div class="work-box">
                <a href="{{ next_event.url }}">
                  <div class="work-img">
                    <img src="{{ next_event.meta.thumbnail }}" alt="" class="img-fluid">
                  </div>
                  <div class="work-content">
                    <h2 class="w-title">{{ next_event.meta.number }}. {{ next_event.meta.title }}</h2>
                  </div>
                  <span class="index">{{ next_event.meta.date|date('Y') }}</span>
                </a>
              </div>
              {% endif %}
            </div>
            <div class="col-md-6 mb-3">
              {% if prev_event and prev_event.meta.category == 'kokkutulek' %}
              <div class="work-box">
                <a href="{{ prev_event.url }}">
                  <div class="work-img">
                    <img src="{{ prev_event.meta.thumbnail }}" alt="" class="img-fluid">
                  </div>
                  <div class="work-content">
                    <h2 class="w-title">{{ prev_event.meta.number }}. {{ prev_event.meta.title }}</h2>
                  </div>
                  <span class="index">{{ prev_event.meta.date|date('Y') }}</span>
                </a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-4">
          {% set videos = [] %}
          {% set albums = [] %}
          {% for page in pages if meta.date|date('Y') in page.meta.tags %}
            {% if page.meta.category == 'video' %}
              {% set videos = videos|merge([page]) %}
            {% elseif page.meta.category == 'pildialbum' %}
              {% set albums = albums|merge([page]) %}
            {% endif %}
          {% endfor %}

          {% for page in albums %}
          {% include 'parts/album.twig' with { grid: 'blah' } %}
          {% endfor %}

          {% for page in videos %}
          {% include 'parts/document.twig' with { doc: page, grid: 'blah', icon: 'ion-md-videocam' } %}
          {% endfor %}
          <div class="widget-sidebar">
            <h5 class="sidebar-title">Tulemas</h5>
            <div class="sidebar-content">
              {{ "kokkutulekud"|content }}
            </div>
          </div>
          {% include 'parts/tags-widget.twig' %}
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Blog-Single End /-->

  {% include 'parts/footer.twig' %}

  {% include 'parts/scripts.twig' %}

  <script type="text/javascript">

    function ImageTagger(selector) {
      this.el = $(selector)
      this.active = false
      this.canvas = null
      this.ii = 0
      this.tags = []
      this.paint = false
      this.canvas
      this.ctx

      this.getImage = () => {
        return this.el.find('.image img')
      }

      this.activate = (btn) => {
        this.active = true
        const w = this.getImage().width()
        const h = this.getImage().height()
        this.canvas = $('<canvas class="tagCanvas" width="'+w+'" height="'+h+'" style="position:absolute;top:0px;left:0px;"></canvas>')
        this.el.find('.image').append(this.canvas)
        this.canvas.css('cursor','crosshair')
        // FIXME
        this.el.find('.photomap > div').each(i => {
          const name = $(i).attr('title')
          const id = $(i).attr('id')
          const xi = $(i).position().left
          const yi = $(i).position().top
          const xii = xi + $(i).width()
          const yii = yi + $(i).height()
          this.tags[this.ii] = {id, xi, yi, xii, yii, name}
          this.ii++
        })
        this.redraw()
        if (btn) {
          this.btn = btn
          $(this.btn).prop('disabled', true)
        }
        this.canvas.on('mousedown', e => {
          if (!this.paint && this.active) {
            this.paint = true
            this.addClick(e.pageX - this.el.offset().left, e.pageY - this.el.offset().top)
          }
        })
        this.canvas.on('mousemove', e => {
          if (this.paint && this.active) {
            this.addClick(e.pageX - this.el.offset().left, e.pageY - this.el.offset().top, true)
            this.redraw()
          }
        })
        this.canvas.on('mouseup', e => {
          if (this.paint && this.active) {
            this.addTagger()
          }
        })

      }

      this.deactivate = () => {
        this.active = false
        //this.canvas.css('cursor','default')
        this.canvas.remove()
        let map = ''
        let tags = ''
        for (let i in this.tags) {
          const x = this.tags[i].xi < this.tags[i].xii ? this.tags[i].xi : this.tags[i].xii
          const y = this.tags[i].yi < this.tags[i].yii ? this.tags[i].yi : this.tags[i].yii
          map += `<div id="${i}"
            style="top: ${y}px; left:${x}px; width: ${Math.abs(this.tags[i].xii - this.tags[i].xi)}px; height: ${Math.abs(this.tags[i].yii - this.tags[i].yi)}px;"
            title="${this.tags[i].name}"></div>`
          tags += this.tag(i, this.tags[i].name)
        }
        this.el.find('.photomap').html(map)
        this.el.find('.tags').html(tags)

        this.ii = 0
        this.tags = []
        if (this.btn) {
          $(this.btn).prop('disabled', false)
        }
      }

      this.tag = (i, name) => {
        return `<span class="badge badge-secondary" data-target="${i}">${name}</span>`
      }

      this.redraw = () => {
        const context = this.canvas[0].getContext("2d")
        this.canvas[0].width = this.canvas[0].width // Clears the canvas
        context.strokeStyle = "#fff"
        context.lineJoin = "round"
        context.lineWidth = 3
        context.globalAlpha = 0.7
        for (let i in this.tags) {
          context.strokeRect(this.tags[i].xi, this.tags[i].yi, this.tags[i].xii - this.tags[i].xi, this.tags[i].yii - this.tags[i].yi)
        }
      }

      this.addClick = (x, y, dragging) => {
        if (dragging) {
          this.tags[this.ii].xii = x
          this.tags[this.ii].yii = y
        } else {
          this.tags[this.ii] = { id: this.ii, xi: x, yi: y, xii: x, yii: y, name: null }
        }
      }

      this.addTagger = () => {
        this.paint = false
        const x = this.tags[this.ii].xi + (this.tags[this.ii].xii - this.tags[this.ii].xi) / 2
        const y = this.tags[this.ii].yi + (this.tags[this.ii].yii - this.tags[this.ii].yi) / 2
        const pop = $('<div class="tagger"></div>')
        pop.css({ top: y + 'px', left: x + 'px', width: '6px', height: '6px', position: 'absolute' })
        this.el.append(pop)
        pop.popover({
          html : true,
          title: `&nbsp;<button type="button" class="close" data-dismiss="popover" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>`,
          content: `<div class="input-group p-2">
            <input type="text" class="form-control" placeholder="Sisesta nimi">
            <div class="input-group-append">
              <button class="btn btn-primary save" type="button">
                <i class="icon ion-ios-save"></i>
              </button>
              <button class="btn btn-secondary delete" type="button">
                <i class="icon ion-md-trash"></i>
              </button>
            </div>
          </div>`,
          placement: 'auto',
          trigger: 'manual',
          offset: 50
        }).on('shown.bs.popover', e => {
          $('.popover').find('input').focus()
          $('.popover').find('.close').on('click', e => {
            pop.popover('hide')
            this.removeTag(this.ii)
          })
          $('.popover').find('.save').on('click', e => {
            pop.popover('hide')
            this.saveTag(this.ii, $('.popover').find('input').val())
          })
          $('.popover').find('.delete').on('click', e => {
            pop.popover('hide')
            this.removeTag()
          })
          this.active = false
        }).on('hidden.bs.popover', e => {
          pop.remove()
          this.active = true
        }).popover('show')
      }

      this.saveTag = (i, value) => {
        // save to api
        this.el.find('.tags').append(this.tag(this.ii, value))
        this.tags[this.ii].name = value
        this.ii++
        this.deactivate()
      }

      this.removeTag = (i) => {
        this.tags.splice(i, 1)
        this.redraw()
      }
    }

    (function($) {

      const it = new ImageTagger('#phototag')

      // load names from contacts for autocomplete

      // activate
      $('#activate').on('click', e => {
        it.activate(e.currentTarget)
      })

    })(jQuery)

  </script>

</body>
</html>
