<!DOCTYPE html>
<html lang="en">
<head>

  {% include 'parts/header.twig' %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

  <style>

    #phototag {
      position: relative;
    }
    #phototag .photomap {
      position:absolute;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
    }
    #phototag .photomap div {
      position:absolute;
      cursor:pointer;
      border:1px solid transparent;
    }
    #phototag .photomap:hover div {
      border:1px dashed #fff;
    }
    #phototag .photomap div i {
      position: absolute;
      bottom: -40px;
      width: 100%;
      text-align: center;
      display: none;
      color: white;
      font-size: 1.3rem;
    }
    #phototag .photomap div.active {
      border:2px dashed #fff;
    }
    #phototag .photomap div.active i {
      display: block
    }
    #phototag .tagCanvas {
      position:absolute;
      top:0px;
      left:0px;
      width: 100%;
      height: 100%
    }
    #tags {
      padding-left: 0;
      padding-right: 0
    }
    #tags .tag {
      color: #212529
    }
    #tags .tag.active {
      font-weight: bold;
    }
    #map {
      height: 280px;
    }

  </style>

</head>

<body>
  <!--/ Nav Start /-->
  {% include 'parts/menu.twig' %}
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  {% include 'parts/intro.twig' with { 'breadcrumbs': [{ url: base_url, title: 'Avaleht' }, { url: pages['kokkutulekud'].url, title: pages['kokkutulekud'].meta.title }] } %}
  <!--/ Intro Skew End /-->

  <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      {% if meta.image %}
      <div class="mb-4">
        <div id="phototag">
          <img src="{{ meta.image }}" class="img-fluid" alt="">
          <div class="photomap"></div>
        </div>
        <div class="toolbar">
          <button class="btn btn-link"
            id="activate"
            role="button">
            <i class="icon ion-ios-pricetags"></i> Märgi sugulane
          </button> |
          <span id="tags"><em class="btn text-muted">Siin pildil saad ära märkida inimesed, kes osalesid kokkutulekul.</em></span>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-8">
          <div class="post-box">
            <h1 class="article-title mb-4">{{ meta.title }}</h1>
            <div class="article-content lead">
              <table class="table table-bordered mb-5">
                <tr>
                  <th scope="row">Jrk.</th>
                  <td>{{ meta.number }}</td>
                </tr>
                <tr>
                  <th scope="row">Korraldas</th>
                  <td>{{ meta.organizer }}</td>
                </tr>
                <tr>
                  <th scope="row">Aeg</th>
                  <td>{{ meta.event_date }}</td>
                </tr>
                <tr>
                  <th scope="row">Koht</th>
                  <td>{{ meta.place }}</td>
                </tr>
                <tr>
                  <th scope="row">Osalejaid</th>
                  <td>{{ meta.people_count }}</td>
                </tr>
              </table>

              {{ content }}

            </div>
          </div>
        </div>
        <div class="col-md-4">

          {% if meta.coordinates %}
          <div id="map" class="mb-3"></div>
          {% endif %}

          {% set videos = [] %}
          {% set albums = [] %}
          {% for page in pages if meta.date|date('Y') in page.meta.tags %}
            {% if page.meta.category == 'video' %}
              {% set videos = videos|merge([page]) %}
            {% elseif page.meta.category == 'pildialbum' %}
              {% set albums = albums|merge([page]) %}
            {% endif %}
          {% endfor %}

          {% for page in albums %}
          {% include 'parts/album.twig' with { grid: 'blah' } %}
          {% endfor %}

          {% for page in videos %}
          {% include 'parts/document.twig' with { doc: page, grid: 'blah', icon: 'ion-md-videocam' } %}
          {% endfor %}
          <div class="widget-sidebar">
            <h5 class="sidebar-title">Tulemas</h5>
            <div class="sidebar-content">
              {{ "kokkutulekud"|content }}
            </div>
          </div>
          {% include 'parts/tags-widget.twig' %}
        </div>
      </div>
      <!-- prev-next start -->
      {% set prev_event = {} %}
      {% set next_event = {} %}
      {% set lastwascurrent = false %}
      {% set lastpage = {} %}
      {% for page in pages if page.meta.category == "kokkutulek" %}
        {% if lastwascurrent %}
          {% set next_event = page %}
          {% set lastwascurrent = false %}
        {% endif %}
        {% if page.id == current_page.id %}
          {% set lastwascurrent = true %}
          {% set prev_event = lastpage %}
        {% endif %}
        {% set lastpage = page %}
      {% endfor %}
      <div class="row">
        <div class="col-md-4 mb-3">
          {% if next_event %}
          <div class="work-box">
            <a href="{{ next_event.url }}">
              <div class="work-img">
                <img src="{{ next_event.meta.thumbnail }}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <h2 class="w-title">{{ next_event.meta.number }}. {{ next_event.meta.title }}</h2>
              </div>
              <span class="index">{{ next_event.meta.date|date('Y') }}</span>
            </a>
          </div>
          {% endif %}
        </div>
        <div class="col-md-4 mb-3">
          {% if prev_event and prev_event.meta.category == 'kokkutulek' %}
          <div class="work-box">
            <a href="{{ prev_event.url }}">
              <div class="work-img">
                <img src="{{ prev_event.meta.thumbnail }}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <h2 class="w-title">{{ prev_event.meta.number }}. {{ prev_event.meta.title }}</h2>
              </div>
              <span class="index">{{ prev_event.meta.date|date('Y') }}</span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
      <!-- prev-next end -->
    </div>
  </section>
  <!--/ Section Blog-Single End /-->

  {% set tools = [] %}

  {% if user_has_right('editor/admin') %}
  {% set tools = tools|merge([
    { title: 'Muuda', type: 'edit', icon: 'icon ion-md-create', id: current_page.id }
  ]) %}
  {% endif %}

  {% include 'parts/footer.twig' with { tools: tools } %}

  {% include 'parts/scripts.twig' %}

  {% include 'parts/table-modal.twig' %}

  <script src="{{ theme_url }}/js/imagetagger.js"></script>

  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
  <script src="{{ theme_url }}/lib/Proj4Leaflet-1.0.2/lib/proj4-compressed.js"></script>
  <script src="{{ theme_url }}/lib/Proj4Leaflet-1.0.2/src/proj4leaflet.js"></script>

  {% if meta.image %}

  <script type="text/javascript">

    const config = {
      url: '{{ config.api.url }}/phototags',
      hash: '{{ config.api.grant|base64_encode }}',
      params: 'filter=deleted,eq,0&filter=category,eq,kokkutulek&filter=item,eq,{{ meta.date|date('Y') }}',
      primary: 'id',
      delete: 'deleted',
      item: {{ meta.date|date('Y') }},
      user: '{{ user }}',
      category: '{{ meta.category }}',
      searchUrl: `{{ config.api.url }}/{{ pages['kontaktid'].meta.api.source }}`,
      searchParams: `{{ pages['kontaktid'].meta.api.params }}`,
      search: {
        person: []
      }
    }

    const api = new Api({ endpoint: config.url, hash: config.hash })

    function createTag (i, name) {
      return `<button class="btn btn-link tag" data-target="${i}">${name}</button>`
    }

    function init(data) {
      const infoText = $('#tags').html()
      $('#tags').html(data.length ? data.map((tag, i) => createTag(i, tag.username)).join('') : infoText)
      const it = new ImageTagger('#phototag', data)

      it.on('activate', () => {
        $('#activate').prop('disabled', true)
        $('#tags').find('.tag').prop('disabled', true)
        if (!config.search.person.length) {
          const searchApi = new Api({ endpoint: config.searchUrl, hash: config.hash })
          searchApi.load({ params: config.searchParams })
            .then(response => {
              config.search.person = response.map(row => {
                return {
                  data: row[config.primary],
                  value: `${TableModal.nameFormat(row)}`
                }
              })
            })
            .catch(e => {
              console.error(e)
            })
        }
      })
      it.on('deactivate', (tags) => {
        $('#activate').prop('disabled', false)
        $('#tags').find('.tag').prop('disabled', false)
        $('#tags').html(tags.length ? tags.map((tag, i) => createTag(i, tag.username)).join('') : infoText)
      })
      it.on('save', (data) => {
        api.insert(formatRow(Object.assign({}, data)))
          .then(response => {
            //console.log(response)
          })
          .catch(e => {
            console.error(e)
          })
      })
      it.on('remove', (data) =>{
        $('#tags').find(`.tag[data-target='${data[0]}'] `).remove()
        if (!$('#tags').find('.tag').length) {
          $('#tags').html(infoText)
        }
        if (data[1] && data[1][config.primary]) {
          const primary = data[1][config.primary]
          data = {}
          data[config.delete] = true
          api.update(primary, data)
            .then(response => {
              //
            })
            .catch(e => {
              console.error(e)
            })
        }
      })
      it.on('draw', (data) => {
        data.pop.find('[autocomplete]').each((i, item) => {
          const ac = TableModal.autoComplete($(item), {
            lookup: config.search.person,
            onSelect: suggestion => {
              data.row.user = suggestion.data
            },
            onInvalidateSelection: () => {
              data.row[config.primary] = null
            }
          })
        })
      })
      it.on('select', (i) => {
        $('#tags').find(`.tag`).removeClass('active')
        $('#tags').find(`.tag[data-target=${i}]`).addClass('active')
      })
      it.on('deselect', (i) => {
        $('#tags').find(`.tag`).removeClass('active')
      })
      // activate
      $('#activate').on('click', e => {
        it.activate()
      })

      $('#tags').on('mouseover', '.tag', e => {
        it.getTagEl($(e.target).data('target')).mouseover()
      }).on('mouseout', '.tag', e => {
        it.getTagEl($(e.target).data('target')).mouseout()
      }).on('click', '.tag', e => {
        e.preventDefault()

      });
    }

    function formatRow (row) {
      delete row.id
      row.category = config.category
      row.item = config.item
      row.author = config.user
      return row
    }

    (function($) {

      setTimeout(() => {
        if (!config.url) {
          return false;
        }
        api.load({ params: config.params })
          .then(init)
          .catch(e => {
            console.error(e)
          })
      }, 200)

    })(jQuery);

  </script>

  {% endif %}

  <script type="text/javascript">

    if (typeof config === 'undefined') {
      config = {}
    }
    config.coords = '{{ meta.coordinates }}';

    (function($) {

      if (config.coords) {
        const coords = config.coords.split(',').map(c => Number(c.trim()))
        const crs = new L.Proj.CRS(
          'EPSG:3301',
          '+proj=lcc +lat_1=59.33333333333334 +lat_2=58 +lat_0=57.51755393055556 +lon_0=24 +x_0=500000 +y_0=6375000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs',
          {
            origin: [40500, 5993000],
            resolutions: [
              4000.0, 2000.0, 1000.0, 500.0, 250.0, 125.0, 62.5, 31.25, 15.625, 7.8125, 3.90625,
              1.953125, 0.9765625, 0.48828125, 0.244140625, 0.122070313, 0.061035157],
            bounds: L.bounds([[40500, 5993000], [1064500, 7017000]])
          }
        )
        const map = L.map('map', {
          crs: crs
        }).setView(coords, 6)

        new L.tileLayer('http://tiles.maaamet.ee/tm/s/1.0.0/kaart/{z}/{x}/{y}.png', {
            maxZoom: crs.options.resolutions.length,
            minZoom: 2,
            continuousWorld: true,
            attribution: 'Aluskaart © <a href="http://maaamet.ee">Eesti Maa-amet</a>',
            tms: true
        }).addTo(map)

        new L.marker(coords).addTo(map);
      }

    })(jQuery);

  </script>

</body>
</html>
