<!DOCTYPE html>
<html lang="et">
<head>

  {% include 'parts/header.twig' %}

</head>

<body>
  <!--/ Nav Start /-->
  {% include 'parts/menu.twig' %}
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  {% include 'parts/intro.twig' with { 'breadcrumbs': true } %}
  <!--/ Intro Skew End /-->

  <!--/ Section Blog-Single Star /-->
  <section class="sect-pt4">
    <div class="container">
      <div class="row">
        {% include 'parts/document.twig' with { 'doc': pages['register'], 'icon': 'ion-md-contacts', 'grid': 'col-md-4 col-sm-6' } %}
        {% include 'parts/document.twig' with { 'doc': pages['sugupuu'], 'icon': 'ion-md-git-branch', 'grid': 'col-md-4 col-sm-6' } %}
        {% include 'parts/document.twig' with { 'doc': pages['varasalv/sugupuu'], 'grid': 'col-md-4 col-sm-6' } %}
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Inimesed
            </h3>
            <p class="subtitle-a">
              Igale Oviirile oma lehekülg!
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for page in pages|reverse if page.meta.category == "inimesed" %}
        <div class="col-md-4">
          <div class="service-box profile">
            <div class="service-ico">
              <a href="{{ page.url }}" class="ico-circle">
                <img class="img-fluid rounded-circle b-shadow-a"
                  src="{{ page.meta.thumbnail }}"
                  alt="{{ page.meta.title }}"
                  onError="this.onerror=null;this.src='{{ theme_url }}/img/placeholder.png';">
              </a>
            </div>
            <div class="service-content">
              <h2 class="s-title line-clamp-1">
                <a href="{{ page.url }}">{{ page.meta.title }}</a>
              </h2>
              <p class="s-description text-center line-clamp-3">
                {{ page.meta.excerpt|slice(0, 230) }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Section Blog-Single End /-->

  {% set tools = [] %}

  {% if user_has_right('editor/admin') %}
  {% set tools = tools|merge([
    { title: 'Lisa sugulase leht', type: 'create', icon: 'icon ion-ios-add', path: pages['oviirid'].id ~ '/', id: "now"|date("Y-m-d") ~ '-sisesta-siia-faili-nimi' }
  ]) %}
  {% endif %}

  {% if user_has_right('editor/admin') %}
  {% set tools = tools|merge([
    { title: 'Muuda', type: 'edit', icon: 'icon ion-md-create', id: current_page.id }
  ]) %}
  {% endif %}

  {% include 'parts/footer.twig' with { tools: tools } %}

  {% include 'parts/scripts.twig' %}

</body>
</html>
