<!DOCTYPE html>
<html lang="en">
<head>

  {% include 'parts/header.twig' %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

  <link rel="stylesheet" href="http://fperucic.github.io/treant-js/Treant.css"/>

  <style>
    html, body, #map {
      height: 100%;
    }
    .fullscreen nav {
      box-shadow: 0 0 6px #aaa;
      background: #0078ff;
      padding: 0
    }
    #toolbar {
      position: fixed;
      bottom: 10px;
      left: 10px
    }
    #map .box {
      border: 1px solid black;
      height: 100%;
      background: white;
      padding: 4px
    }
    #list {
      display: none;
      position: absolute;
      width: 250px;
      height: 100%;
      right: 0;
      top: 0;
      background: white;
      overflow-y: auto;
    }
    #list .list-group {
      margin: 110px 10px 10px
    }
    .node {
      cursor: pointer;
    }
    .node circle {
      fill: #fff;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
    .node text {
      font-size:10px;
      font-family:sans-serif;
    }
    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 1.5px;
    }
    .templink {
      fill: none;
      stroke: red;
      stroke-width: 3px;
    }
    foreignObject {
      overflow: visible;
    }
    foreignObject div {
      min-height: 50px;
    }
    .label {
      background: white;
      font-size: 0.7rem;
      padding: 4px;
      border: 1px solid black
    }

  </style>

</head>

<body class="fullscreen">
  <!--/ Nav Start /-->
  {% include 'parts/menu.twig' %}
  <!--/ Nav End /-->

  <section id="map"></section>
  <div id="toolbar" class="">
    <button class="btn btn-primary add"
      role="button"
      data-toggle="modal"
      data-target="#rowEdit"
      data-row="">
      <i class="icon ion-md-add"></i> Lisa uus
    </button>
    <span class="coords"></span>
  </div>
  <div id="list">
    <div class="list-group"></div>
  </div>

  {% include 'parts/person-modal.twig' %}

  {% include 'parts/scripts.twig' %}

  <script src="https://d3js.org/d3.v3.min.js"></script>

  <script src="{{ theme_url }}/js/familytree.js"></script>

  <script type="text/javascript">

    const config = {
      url: '{{ config.api.url }}/{{ meta.api.source }}',
      hash: '{{ config.api.grant|base64_encode }}',
      params: 'filter=deleted,eq,0',
      primary: 'id',
      col: {{ meta.table.columns|json_encode() }}
    }

    const api = new Api({ endpoint: config.url, hash: config.hash });

    function getNested(arr, parent) {
      let out = []
      for (var i in arr) {
        if (arr[i].bound_with == parent) {
          const related = getNested(arr, arr[i].id)
          const children = related.filter(r => r.bound_is === 'child')
          const partners = related.filter(r => r.bound_is === 'partner')
          const unsure = related.filter(r => r.bound_is !== 'partner' && r.bound_is !== 'child')
          if(children.length) {
            arr[i].children = children
          }
          if(partners.length) {
            arr[i].partner = partners
          }
          if(unsure.length) {
            out = out.concat(unsure)
          }
          out.push(arr[i])
        }
      }
      return out
    }

    function buildList(treelessData) {
      if (treelessData.length) {
        $('#list').show().find('.list-group').html(treelessData.map(item => {
          return `<a href="#"
            class="list-group-item list-group-item-action"
            data-toggle="modal"
            data-target="#rowEdit"
            data-row="${item[config.primary]}">${item.firstname} ${item.lastname}</a>`
        }))
      } else {
        $('#list').hide().find('.list-group').html('')
      }
    }

    (function($) {

      //let treeData = []
      //let treelessData = []

      function insertTo(item) {
        if (item.bound_with !== null && item.bound_is) {
          treeData.push(item)
        } else {
          treelessData.push(item)
        }
      }
      function removeItem(id) {
        for (let i = 0, len = treeData.length; i < len; i++) {
          if (treeData[i][config.primary] === id) {
            treeData.splice(i, 1)
            return true
          }
        }
        for (let i = 0, len = treelessData.length; i < len; i++) {
          if (treelessData[i][config.primary] === id) {
            treelessData.splice(i, 1)
            return true
          }
        }
      }

      const ftree = new FamilyTree({
        target: '#map'
      })

      setTimeout(() => {
        if (!config.url) {
          return false;
        }
        api.load({ params: config.params })
          .then(response => {
            /*response.forEach(item => {
              insertTo(item)
            })*/
            const treeData = getNested(response)
            if (treeData.length > 1) {
              ftree.load({
                id: 0,
                firstname: 'Suguvõsa',
                lastname: 'osad',
                children: treeData
              })
            } else if (treeData.length > 0) {
              ftree.load(treeData[0])
            }

            //buildList(treelessData)
          })
          .catch(e => {
            console.error(e)
          })
      }, 200)

      // modal
      $('#rowEdit').on('show.bs.modal', e => {
        const primary = $(e.relatedTarget).data('row')
        let row = Object.keys(config.col).reduce((a,b)=> (a[b]='',a),{})
        if (primary) {
          let rows = treelessData.filter(item => item[config.primary] === primary)
          if (rows.length) {
            row = rows[0]
          }
        }
        $(e.target).find('form').append(Object.keys(row).map((key, i) => {
          if (!(key in config.col)) {
            return ''
          }
          if (key === config.primary) {
            return `<input type="hidden" name="${key}" value="${row[key]}">`
          }
          if (
            'dataType' in config.col[key] &&
            config.col[key].dataType === 'boolean'
          ) {
            return `<div class="form-group col-sm-6">
              <div>
                <label class="col-form-label">
                  ${config.col[key].title ? config.col[key].title : key}
                </label>
              </div>
              <label class="switch">
                <input type="checkbox" name="${key}" id="${key}" ${row[key] ? 'checked' : ''} value="true">
                <span class="slider round"></span>
              </label>
            </div>`
          }
          return `<div class="form-group col-sm-6">
            <label for="${key}" class="col-form-label">${(key in config.col && config.col[key].title) ? config.col[key].title : key}:</label>
            <input type="text" class="form-control" id="${key}" name="${key}" value="${row[key]}" ${config.col[key].required ? 'required' : ''}>
          </div>`
        }).join(''))
        if (primary) {
          $(e.target).find('.delete').prop('disabled', false)
        }
      }).on('hide.bs.modal', e => {
        $(e.target).find('form').html('')
        $(e.target).find('.save').removeClass('btn-success').addClass('btn-primary')
        $(e.target).find('.delete').prop('disabled', true)
      })

      // save row
      $('#rowEdit').on('click', '.save', e => {
        const row = $('#rowEdit').find('form').serializeObject()
        const primary = Number(row[config.primary])
        delete row[config.primary]
        if (primary) {
          api.update(primary, row)
            .then(response => {
              $('#rowEdit').find('.save').toggleClass('btn-primary btn-success')
              // remove
              removeItem(primary)
              row[config.primary] = primary
              if (row.bound_with !== '') {
                row.bound_with = Number(row.bound_with)
              }
              insertTo(row)
              ftree.reload(getNested(treeData, 0))
              buildList(treelessData)
              setTimeout(() => {
                $('#rowEdit').modal('hide')
              }, 900)
            })
            .catch(error => console.error(error))
        } else {
          api.insert(row)
            .then(response => {
              $('#rowEdit').find('.save').toggleClass('btn-primary btn-success')
              row[config.primary] = Number(response)
              if (row.bound_with !== '') {
                row.bound_with = Number(row.bound_with)
              }
              insertTo(row)
              ftree.reload(getNested(treeData, 0))
              buildList(treelessData)
              setTimeout(() => {
                $('#rowEdit').modal('hide')
              }, 900)
            })
            .catch(error => console.error(error))
        }
      })

      // delete row
      $('#rowEdit').on('click', '.delete', e => {
        const action = $(e.currentTarget).data('action')
        switch (action) {
          case 'confirm':
            $(e.currentTarget)
              .toggleClass('btn-light btn-danger')
              .data('action', 'confirmed')
              .find('span').text('Kinnita kustutamine')
            break;
          case 'confirmed':
            $(e.currentTarget)
              .toggleClass('btn-light btn-danger')
              .data('action', 'confirm')
              .prop('disabled', true)
              .find('span').text('Kustuta')
            let row = $('#rowEdit').find('form').serializeObject()
            const primary = row[config.primary]
            row = {}
            row[config.delete] = true
            api.update(primary, row)
              .then(response => {
                $('#rowEdit').find('.save').toggleClass('btn-primary btn-success')
                // remove
                removeItem(primary)
                ftree.reload(getNested(treeData, 0))
                buildList(treelessData)
                setTimeout(() => {
                  $('#rowEdit').modal('hide')
                }, 900)
              })
              .then()
              .catch(error => console.error(error))
            break
        }
      });

    })(jQuery);

  </script>

</body>
</html>
