<!DOCTYPE html>
<html lang="en">
<head>

  {% include 'parts/header.twig' %}

  {% if meta.style %}
  <link href="{{ theme_url }}/css/{{ meta.style }}" rel="stylesheet">
  {% endif %}


</head>

<body class="fullscreen">
  <!--/ Nav Start /-->
  {% include 'parts/menu.twig' %}
  <!--/ Nav End /-->

  <section id="map">
    <div class="tree"></div>
  </section>
  <div id="toolbar" class="form-inline">
    <button class="btn btn-primary add"
    role="button"
    data-toggle="modal"
    data-target="#rowEdit"
    data-row="">
    <i class="icon ion-md-add"></i> Lisa uus
  </button>
  <input type="text"
  class="form-control ml-3"
  id="search"
  data-target="bound_with"
  autocomplete
  placeholder="Otsi...">
  <span class="coords"></span>
</div>
<div id="list">
  <div class="list-group"></div>
</div>

{% include 'parts/table-modal.twig' %}

{% include 'parts/scripts.twig' %}

<script src="{{ theme_url }}/lib/jquery.autocomplete.min.js"></script>
<script src='{{ theme_url }}/lib/panzoom.min.js'></script>


<script type="text/javascript">

const config = {
  url: '{{ config.api.url }}/{{ meta.api.source }}',
  hash: '{{ config.api.grant|base64_encode }}',
  params: '{{ meta.api.params }}',
  primary: '{{ meta.api.primaryColumn }}',
  delete: '{{ meta.api.deleteColumn }}',
  col: {{ meta.table.columns|json_encode() }},
  search: {
    bound_with: []
  }
};

</script>

{% if meta.script %}
<script src="{{ theme_url }}/js/{{ meta.script }}"></script>
{% endif %}
</body>
</html>
