<!DOCTYPE html>
<html lang="et">
<head>

  {% include 'parts/header.twig' %}

  <link rel="stylesheet" href="{{ theme_url }}/lib/datatables/datatables.min.css">

  <style>
    table.dataTable th:first-letter {
      text-transform: capitalize;
    }
    table.dataTable span.highlight {
      background-color: #FFFF88;
    }
  </style>

</head>

<body>
  <!--/ Nav Start /-->
  {% include 'parts/menu.twig' %}
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  {% include 'parts/intro.twig' with { 'breadcrumbs': [{ url: base_url, title: 'Avaleht' }] } %}
  <!--/ Intro Skew End /-->

  <!--/ Section Blog-Single Star /-->
  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="article-content lead">
            {{ content }}
          </div>
          <div id="toolbar" class="mb-3 text-right">
            <button class="btn btn-secondary copy"
                role="button"
                data-toggle="modal"
                data-target="#copy"
                data-row="">
                <i class="icon ion-md-copy"></i> Kõik e-posti aadressid
              </button>
            <button class="btn btn-primary add"
                role="button"
                data-toggle="modal"
                data-target="#rowEdit"
                data-row=""
                disabled>
                <i class="icon ion-md-add"></i> Lisa uus
              </button>
          </div>
          <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered small display table-responsive-md" id="datatable" width="100%"></table>
        </div>

      </div>
    </div>
  </section>
  <!--/ Section Blog-Single End /-->

  {% set tools = [] %}

  {% if user_has_right('editor/admin') %}
  {% set tools = tools|merge([
    { title: 'Muuda', type: 'edit', icon: 'icon ion-md-create', id: current_page.id }
  ]) %}
  {% endif %}

  {% include 'parts/footer.twig' with { tools: tools } %}

  {% if meta.table.copyColumn %}
  <!-- MODAL -->
  <div class="modal fade" id="copy" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="copybox" class="col-form-label">Kopeeri tekstikasti sisu <span></span></label>
              <textarea id="copybox" class="form-control" rows="6"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulge</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% include 'parts/scripts.twig' %}

  {% include 'parts/table-modal.twig' %}

  <script src="{{ theme_url }}/lib/datatables/datatables.min.js"></script>
  <script src="http://bartaz.github.io/sandbox.js/jquery.highlight.js"></script>
  <script type="text/javascript">
    const config = {
      url: '{{ config.api.url }}/{{ meta.api.source }}',
      hash: '{{ config.api.grant|base64_encode }}',
      params: '{{ meta.api.params }}',
      primary: '{{ meta.api.primaryColumn }}',
      delete: '{{ meta.api.deleteColumn }}',
      copy: '{{ meta.table.copyColumn }}',
      col: {{ meta.table.columns|json_encode() }},
      dom: '{{ meta.table.dom }}',
      editable: {{ meta.table.editable }},
      search: {
        bound_with: []
      }
    }
  </script>
  <script src="{{ theme_url }}/{{ jspath }}/table.js"></script>

</body>
</html>
