<div class="{{ grid ? grid : 'col-md-4' }}">
  <div class="work-box">
    <a href="{{ page.url }}">
      <div class="work-img">
        <img class="img-fluid lazy"
          src="{{ theme_url }}/img/placeholder.png"
          data-src="{{ page.meta.thumbnail ? page.meta.thumbnail : theme_url ~ '/img/placeholder.png' }}"
          alt="{{ page.meta.title }}">
      </div>
      <div class="work-content">
        <h2 class="w-title">{{ page.meta.title }}</h2>
      </div>
    </a>
  </div>
</div>
