<meta charset="utf-8">
<title>{{ meta.title }} - {{ site_title }}</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="{{ meta.description|striptags }}" name="description">
<meta http-equiv="X-UA-Compatible" content="IE=edge;" />

<!-- Favicons -->
<link href="{{ theme_url }}/img/favicon.png" rel="icon">
<link href="{{ theme_url }}/img/favicon.png" rel="apple-touch-icon">

<!-- Facebook and Twitter integration -->
<meta property="og:title" content="{{ meta.title }}"/>
<meta property="og:image" content="{{ meta.image }}"/>
<meta property="og:url" content="{{ current_page.url }}"/>
<meta property="og:site_name" content="{{ site_title }}"/>
<meta property="og:description" content="{{ meta.description|striptags }}"/>
<meta name="twitter:title" content="{{ meta.title }}" />
<meta name="twitter:image" content="{{ meta.image }}" />
<meta name="twitter:url" content="{{ current_page.url }}" />
<meta name="twitter:card" content="summary_large_image" />

<!-- Bootstrap CSS File -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Libraries CSS Files -->
<link href="{{ theme_url }}/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="{{ theme_url }}/lib/font-awesome/css/all.min.css" rel="stylesheet">
<link href="{{ theme_url }}/lib/animate/animate.min.css" rel="stylesheet">
<link href="{{ theme_url }}/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="{{ theme_url }}/lib/photoswipe/photoswipe.css" rel="stylesheet">
<link href="{{ theme_url }}/lib/photoswipe/default-skin/default-skin.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="{{ theme_url }}/css/{{ config.theme_config.style ? config.theme_config.style : 'style' }}.css" rel="stylesheet">

{% if user_has_right('editor/edit') %}
<link rel="stylesheet" href="{{ theme_url }}/lib/codemirror-5.49.2/codemirror.css">
<link rel="stylesheet" href="{{ theme_url }}/css/draft.css">
{% endif %}
